#social-sharing-link-container-layout {
    padding: 15px;
    width: 300px;
}

.sharing-buttons {
    border-radius: 100%;
    border: 2px solid transparent;
    box-sizing: border-box;
    color: #fff;
    display:inline-block;
    font: normal bold 22px/1.5 FontAwesome,"Pt serif","Georgia",Arial,sans-serif;
    letter-spacing: 1px;
    margin:10px;
    text-decoration: none;
    text-align: center;
    width:50px;
    height:50px;
    padding: 10px;
    text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#uv-facebook{
    background-color: #4862A3;
}

#uv-twitter, #uv-linkedin{
    background-color: #2AAAE0;
}

#uv-google-plus {
    background-color: #D52323;
}

#uv-reddit {
    background-color: red;
}

#uv-stumbleupon {
    background-color: #f14829;
}

#uv-pinterest {
	background-color: #db3037;
}

#uv-facebook:hover,
#uv-twitter:hover,
#uv-google-plus:hover,
#uv-reddit:hover,
#uv-linkedin:hover,
#uv-stumbleupon:hover,
#uv-pinterest:hover {
    background-color: green;
}
